/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./font/poppins-v15-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('./font/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./font/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./font/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./font/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./font/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  width: 100%;
  height: 100%;
  background: #111;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  max-height: 60vh;
}
h1{
  margin-top: 1em;
  color:white;
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 1px 1px #019E66;
  font-family: "Poppins" , sans-serif;
  font-weight: 300;
}
.P {
  z-index: 50;
  font-family: "Poppins" , sans-serif;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1.2em;
  font-size: 21px;
  margin-top: 2em;
}
.shimmer {
  margin-top: 1em;
  font-weight: 400;
  text-align: center;
  font-size: 50px;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
  font-family: "Poppins" , sans-serif;
  text-align: center;
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#019E66), to(#019E66), color-stop(0.5, #019E66));
  background: -moz-gradient(linear, left top, right top, from(#019E66), to(#019E66), color-stop(0.5, #019E66));
  background: gradient(linear, left top, right top, from(#019E66), to(#019E66), color-stop(0.5, #019E66));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgb(255, 255, 255);
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
.count-particles {
  background: #000022;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#particles-js {
  /* position: abs; */
  width: 100%;
  height: 60vh;
  margin-top: -24.9em;
  background-color: #161819;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-left: -0.5em;
}
body {
  background-color: black;
}
.logo {
  z-index: -5;
  height: 170px;
  align-content: center;
  margin-top: 10em;
  /* padding-top: 2.5em; */
}

.animated-bar {
  background-color: #019E66;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  margin: 0 auto 0 auto;
  position: relative;
  right: 0;
  width: 75px;
  margin-bottom: 0em;
  margin-top: -4em;
}
.animated-bar:before,
.animated-bar:after {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: barAnimation;
  -webkit-animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: barAnimation;
  animation-timing-function: linear;
  background-color: #101010;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

.animated-bar:before {
  left: 8px;
}

.animated-bar:after {
  left: 0;
}

@-webkit-keyframes barAnimation {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
  }
}

@keyframes barAnimation {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
  }
}