/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./font/poppins-v15-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('./font/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./font/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./font/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./font/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./font/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./font/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body {
  background-color: #101010;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 60%;
  width: 250px;
  background: #101010;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo{
  margin-left: 1em;
  height: 30px;
  
}
.sidebar .logo-details .icon{
  opacity: 1;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 1;
  transition: all 0.5s ease;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.i{
  width: 2em;
  color: #fff;
  height: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  padding: 7px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  color: #fff;
  left: calc(100% + 15px);
  z-index: 3;
  background: #019E66;
  box-shadow: 0 5px 10px rgba(22, 22, 22, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: rgba(22, 22, 22, 1);
}
.sidebar li a:hover{
  background: #019E66;
}
.sidebar li a .links_name{
  color:#fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 1;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.img {
  width: 100%;
  margin-top: 2em;
}